<%- partial('_partial/head') %>

<body>
  <div class="wrapper">
      <%- partial('_partial/header') %>
      <div class="container">
          <div class="content">
              <%- body %>
          </div>
          <div id="sidebar" class="alignright"><%- partial('_partial/sidebar') %></div>
      </div>
  </div>
</body>
</html>
