.archive-title {
    margin-left: 10px;
}

.archives {
    width: 95%;
}

.archives h1{
    font-size: 14px;
}

._archives {
    padding: 10px;
    border-bottom: 1px solid rgb(213, 213, 213);
    a {
        color: black
        font-weight: 100
    }
}

time {
    font-size: 12px;
}
