.topic_header {
    width: 100%;
    height: 30px;
    background: rgb(238,238,238);
    float: left;

    .recent {
        line-height: 30px
        font-size: 12px
        margin-left: 10px;
    }
}

.content .post {
  border-left: 1px dashed #CCC;
  border-right: 1px dashed #CCC;
  border-bottom: 1px dashed #CCC;
  border-top: none;
  padding-bottom: 5px;
  word-wrap: break-word;

  &:last-child {
      border-bottom: 1px 1px dashed #CCC;
  }

  .archivetitle {
      font-weight: 100
      padding: 10px
      color: #494949 !important
      font-size: 16px
      background: #DADADA

      a {
          color: #3c3c3c
      }
  }
}

time {
    font-size: 12px;
}

author {
    font-size: 12px;
}

.entry {
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px;
}

.entry ,h2,h3,h4,h5,h6,strong {
    font-size: 12px;
}

.clearAll {
    font-size: 12px
}

.entry p {
    margin-bottom: 3px;
}

.readmore {
    padding: 20px;
}

header{
    padding-left: 20px;
    padding-bottom: 10px;
}
