body {
  background: #EBEBED;
  color: #333;
  font-family: "Microsoft YaHei",Verdana,Helvetica,Arial,Sans-Serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
}

* {
    outline: none;
}

div {
  display: block;
}

a {
  text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
  clear: both;
}

.wrapper {
  text-align: left;
  width: 958px;
  min-width: 958px;
  background: #FFF;
  border-color: #DDD;
  border-style: solid;
  border-width: 3px 1px;
  margin: 0 auto;
}

.header {
  padding: 5px 5px 10px 10px;
}


.header-top {
  width: 100%;
  float: left;
}

.header-top .blog-title {
  float: left;
}

.blog-title,.blog-title a,.blog-title a:visited,.blog-title:hover {
  display: block;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.back_home{
  color: #000;
  clear: both;
  letter-spacing: 1px;
  text-decoration: none;
}

.github-button {
    font-size: 12px;
}

.blog-description {
  font-size: 13px;
  margin: 0 0 0 20px;
}

.menubar {
    height: 35px;
    line-height: 35px;
    background: rgb(38,38,38);
}

.menu li {
    float: left;
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
}

.menu li a {
    display: block;
    color: #D1D1D1;
    text-decoration: none;
    padding: 0 12px;
    cursor: pointer;
}


.container {
    background: #FFF;
    float: left;
    min-height: 780px;
    width: 958px;
    padding-top: 20px;
    height: 100%;
}

.content {
  background: #FFF;
  float: left;
  overflow: hidden;
  padding: 10px;
  margin-bottom: 10px;
  width: 75%;
}

.search,input,form {
    width: 200px;
    margin-top: 5px;
    float: left;
}
.search input  {
    height: 30px;
    float: left;
}
.sinput {
    height: 50px;
}
#sidebar {
  background: #FFF;
  float: left;
  height: 100%;
  font-size: 13px;
  overflow: hidden
  padding-top: 10px;
}

.tag h3{
    font-weight:normal;
    font-size: 14px;
}
.tag small:before {
  content: '(';
}

.tag small:after {
  content: ')';
}

.tag {
    width: 200px
    .title {
        width: 100%
        height: 30px
        background: #eee
        padding-left: 15px
        margin-bottom: 5px
    }

    small {
      color: #999;
      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }
}

li{
    list-style: none;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

small {
    margin-left: 5px;
    font-size: 12px;
}


.markdown-body {
    min-width: 200px;
    max-width: 790px;
    margin: 0 auto;
    padding: 30px;
}

#pagination {
    width: 100%;
    float: left;
}

.pagingbtn {
    height: 20px;
    padding: 5px;
    line-height: 20px;
    background: #313131;
    margin: 5px;
    border-radius: 2px;
    float: left;

    a {
        color: white;
    }
}

.tags {
    text-transform:capitalize

    a {
        color: #4e4e4e
    }
    li {
        height: 20px
        font-size: 12px
        line-height: 20px
        font-weight: 100
        border-radius: 2px
        margin: 10px 0px
        padding-left: 15px
        background: #CDCDCD
    }
}
